# not trace any floders below:
**/SCGAs/
**/__pycache__/
**/.DS_Store
**/.vscode 
**/venv/
**/.venv/
# Other typical entries
**/node_modules/
**/dist/
**/build/
# Ignore files end with .pyc, .sqlite3, .log in any folder
**/*.pyc
**/*.sqlite3
**/*.log
# Ignore all instances of xxx.json in any folder
# **/xxx.json
